{% extends "base.html" %}

{% load static %}
{% load i18n %}
{% load account socialaccount %}

{% block header %}
<!-- Start of Header/Nav Section-->
<nav-section>
    <div class="nav-container">
        <nav class="nav nav-masthead">
            <a><img src="https://res.cloudinary.com/drdelhvyt/image/upload/v1697631364/logo_ah5wjz.png" alt="Genepool SnowFlake Image" class="genepool-left-corner-img product-services-genepool-logo"></a>
            <div class="nav-links">
                <a class="nav-link fw-bold py-1 px-0" aria-label="Home Page" aria-current="page" href="{% url 'home-page' %}">
                    <i class="fas fa-home"></i> Home
                </a>
                <a class="nav-link fw-bold py-1 px-0" aria-label="Products and Services" href="{% url 'products_and_services' %}">
                    <i class="fas fa-cogs"></i> Products/Services
                </a>
                <a class="nav-link fw-bold py-1 px-0" aria-label="Administration Login" href="{% url 'home-page' %}">
                    <i class="fa-solid fa-arrow-left"></i> Go Back
                </a>
            </div>
        </nav>
    </div>
</nav-section>
<!-- End of Header/Nav Section-->
{% endblock %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="container black-text login-form-positioning">
    <div class="row justify-content-center align-items-center">
        <div class="col-12 col-md-8 col-lg-6">
            <div class="text-center mb-4">
                <h1>{% trans "Sign In" %}</h1>
            </div>

            {% get_providers as socialaccount_providers %}
            {% if socialaccount_providers %}
            <div class="mb-3">
                <p>{% blocktrans with site.name as site_name %}Please sign in with one
                    of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
                    for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

                <div class="socialaccount_ballot">
                    <ul class="socialaccount_providers">
                        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                    </ul>
                    <div class="login-or">{% trans 'or' %}</div>
                </div>
            </div>
            {% include "socialaccount/snippets/login_extra.html" %}
            {% else %}
            <div class="mb-3 text-center">
                <p class="login-logout-p-text">{% blocktrans %}If you have not created an account yet, then please
                    <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
            </div>
            {% endif %}
            <div class="row text-center">
                <form class="login my-login" method="POST" action="{% url 'account_login' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <div class="text-center">
                        <button class="btn btn-primary" type="submit">{% trans "Sign In" %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}