{% extends "base.html" %}

{% load static %}

{% block header %}
<div>
  <a><img src="https://res.cloudinary.com/drdelhvyt/image/upload/v1697631364/logo_ah5wjz.png" alt="Genepool SnowFlake Image" class="genepool-left-corner-img product-services-genepool-logo"></a>
  <nav class="nav nav-masthead justify-content-center float-md-end">

      <a class="nav-link fw-bold py-1 px-0" aria-label="Home Page" aria-current="page" href="{% url 'home-page' %}">
          <i class="fas fa-home"></i> Go Back
      </a>
  </nav>
</div>

{% endblock%}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

<div class="container-fluid d-flex justify-content-center black-text ">

  <h2 class="sign-up-header-txt">Sign Up</h2>

</div>

<div class="container-fluid d-flex justify-content-center black-text ">

<p class="already-account-text">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

</div>

<div class="container-fluid ">
  <div class="my-centered-flexbox-1">
    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
      {% csrf_token %}
      {{ form.as_p }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <button type="submit">{% trans "Sign Up" %} &raquo;</button>
    </form>
  </div>
</div>
{% endblock %}
