.card-group { 
    align-items: center !important;
}

.vgr-cards .card {
    margin-top: 4rem;
    margin-bottom: 4rem;
}
  .vgr-cards .card + .card {
    margin-left: 20px;
}

.card:hover {
    border: 1px solid transparent !important; 
    outline: none !important;
}

hr {
    border: 1px solid #000; 
    margin: 20px 0; 
}