/*
 * Globals
 */

 .custom-br{
  border: 1px solid #000;
  margin-top: 20px;
  margin-left: 25vw;
  margin-right: 25vw;
 }

 .important{
  color:red;
  font-weight: bold;
 }

 .custom-btn{
  padding: 4px 20px !important;
  height: 2rem;
 }

/* Custom default button */
.btn-light,
.btn-light:hover,
.btn-light:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}

.row>* {
  margin-bottom: var(--bs-gutter-y);
}

.full-width{
  width:100%;
}

.white-text{
  color:white !important;
}

.black-text {
  color: black !important;
}

/*
 * Base structure
 */

body {
  color:white;
  font-family: 'Roboto' , 'sans-serif';
  min-height:100% !important;
}

.landing-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing-img {
  width: 100%; 
  max-width: 600px; 
  padding-left:38px;
}

.lead1 {
  width: 100%;
  display: flex;
  justify-content: center; 
  gap: 10px; 
}

/* .generic-bakground-color{
  background:#f8f9fb;
  box-shadow: inset 0 0 1rem rgba(163, 197, 244, 0.988);
} */

footer{
  margin-bottom:0;
}

.text-shadow-style{
  text-shadow: 0 .05rem .2rem rgba(36, 8, 127, 0.5);
}


.landing-page{
  background:#0081FF;
  box-shadow: inset 0 0 14rem rgba(9, 18, 56, 0.5);
  
}


.alert-text{
  color:black;
  text-align:center;
}

h2{
  font-size:40px;
  text-decoration:#0081FF; 
  text-shadow: none;
}

.section-spacing{
  padding:2rem;
}

.border-for-fields-title {
  border: 1px solid black;
}

.create-some-space{
  padding-top:3rem;
  padding-bottom:3rem;
}

.create-some-space-v1{
  padding-bottom: 1rem;
  background: white ! important;
}


.genepool-custom-background{
  background: url(https://res.cloudinary.com/drdelhvyt/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1697635373/background_p0jlat.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.genepool-custom-background-v2{
  background: url(https://res.cloudinary.com/drdelhvyt/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1697635373/background_p0jlat.png);
}

.genepool-left-corner-img{
  width: 100%;
  height: auto;
  max-width: 12rem;
}

/*
 * Header
 */

  .nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .product-services-genepool-logo {
    height: auto;
    width: auto;
    max-height: 6rem;
  }


 .nb{
  color:red;
  font-weight:bold;
  font-size: 2rem;
 }

 .nb1{
  color:white;
  font-weight:bold;
  font-size: 2rem;
 }

 .nav-masthead {
  display: flex;
  align-items: center;
  justify-content: space-between;
 }

.nav-masthead .nav-link {
  color: rgba(228, 227, 233, 0.895);
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, 0.255);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

.mb-auto {
    margin-bottom: 3rem !important;
}

.px-3 {
  text-align: center;
  justify-content: flex-end;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.lead{
  padding: 40px;
  font-weight:400;
}

/* styling for need help in a hurry section*/

.hurry-header-text{
  font-size: 2.25rem;
  font-weight: 500;
}

.contact-us-btns .btn.fields-btns {
  width: 100% !important;
  display: block; /* Makes sure each button takes its own line */
  margin-bottom: 10px; /* Optional: Adds some space between the buttons */
}

/* My custom styles for landing Page */
.lead1 {
  justify-content: center;
  display: flex;
  width: 100%;
}

.img {
  vertical-align: middle;
}

.test{
  color:black;
  background:red;
}

.center-my-text{
  text-align: center;
}

.space-out-rows{ 
  text-align: center;
}

.bold-text { 
  font-weight: 400;
}

.landing-btn { 
  border: 2px solid transparent !important;
  transition: border 0.5s ease !important;
  margin: 10px;
  border-color:black !important;
}

.landing-btn:hover { 
  border-color: black !important;
}

.black-font-color{
  color:black !important;
}

.custom-card::before {
  content: "";
  background: rgba(214, 220, 227, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 1rem;
}

.custom-card {
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}

.custom-card-image-overlay { 
  background: rgba(214, 220, 227, 0.1); 
  top: 0;
  left: 0;
  width: calc(100% + 1rem);
  height: calc(100% + 1rem);
  position: absolute;
  z-index:1;
  border-radius: 1rem;
  border-width:10px;
}

.card-content-wrapper {
  position: relative;
  z-index: 2; 
}

.card { 
  border-radius: 1rem;
  border: 2px solid transparent !important;
  transition: border 0.5s ease !important;
}

.card:hover {
  border-color:blue !important; 
}

.card-title {
  color: black;
  font-size: 2rem;
  text-align: center;
  text-shadow:none;
  padding-bottom: 1rem;
}

.fields-btns {
  margin-top: 1rem;
  margin-bottom: 2rem;
  background-color: rgba(197, 212, 233, 0.4);
  display: block;
  color: white;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  font-weight: 500;
}

.modal-header{
  color:black !important;
}

.modal-content {
  color:black !important;
}

.modal-body {
  color:black !important;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.model-heading-custom { 
  padding-bottom:20px;
  padding-top:10px;
  text-decoration: underline;
}

.fix-padding{
  padding-left: 0px;
}

/* Staff Page CSS */

.dropdown{
  display: flex;
  justify-content: center
}

.h2-spacing{
  padding-top:35px;
  padding-bottom:35px;
}

/*Client's Page CSS*/

.client-card-styling{
  border-radius: 2rem;
  border: 1px solid !important;
  transition: border 0.5s ease !important;
}

.client-container-styling{
  max-width: 100%;
}

.right-align{
  float: right;
  color:green;
  text-decoration: none;
}

.card-title, .card-text {
  white-space: nowrap; 
  text-overflow: ellipsis; 
}
.card-text {
  white-space: normal; 
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical;
  height: 3em; 
}

.client-custom-footer{
background:none; 
margin-left:auto;
margin-right:auto; 
}

.close-ticket-styling{
  color:red;
}
.close-ticket-styling:hover{
  text-decoration: underline;
}
.client-custom-footer1{
  margin-left:auto;
  margin-right:auto; 
  }

.closed-quotes-custom-btn{
  background:none;
  color:red;
  text-decoration: none;
  animation: none!important;
}

.closed-quotes-custom-btn:hover{
  text-decoration: underline;
}

.client-custom-footer-answered-quotes{
  display:flex;
}
.client-custom-footer-answered-quotes-btn{
  align-items: first baseline;
}

.client-ticket-view{
  margin-left:-15px;
  margin-right:-15px;
}

.client-ticket-container{ 
  width:100%;
  padding-left:15px;
  padding-right:15px;
  margin-left:auto;
  margin-right:auto;
  border: 2px solid black;
  padding-top: 25px;
  margin-top: 1rem;
  background: #f0e8e8;
}

.client-ticket-btn{
  padding-top:1px;
  padding-bottom:1px;
  margin-top: 1px;
  margin-bottom: 8px;
}

.ticket-description{
  margin-left: 1rem;
}

.header-spacing{
  padding-bottom:25px;
}
.client-ticket-container-posted-by{
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  width: 85vh;
  background: white !important;
}

.reply-text{
  min-height:8rem;
  padding-top: 2rem;
}

.grey-background{
  background:#d8c8c8;
}

.client-ticket-container-reply-container{
  padding-bottom: 0px;
  margin-bottom: 2rem;
  border: 1px solid black;
  background: #eae8e8;
}

.ticket-author-badges{
  margin-left:1rem;
}

/* Our partnership section */

.partner-img{
  width:100%;
  height:auto;
}

.partner-heading{
  margin-left: auto;
  margin-right: auto;
  font-size: 40px;
  text-decoration: underline;
  text-underline-position: under;
  text-underline-offset: 2px;
  text-decoration-thickness: 1px;
  padding-bottom: 15px;
}

.partner-img-container {
  width:160px !important;
  height:129px;
  object-fit: contain;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  background-color: rgba(176, 176, 176, 0.2);
}

.carousel-inner{
  width: 85% !important;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
}


/*CSS for products-services */

.container-background {
 background:rgba(175, 175, 175, 0.4);
 padding: 35px;
 border-radius: 20px;
}

.img-fluid {
  max-width: 50% !important;
}

.border-bottom-center {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.product-img{
  width: 80%;
  height: auto;
}

.attention-text { 
  text-shadow: 0.1px 0.1px darkblue;
  text-decoration: underline;
}

.product-text-toggle{
  font-weight: bold;
  color:#00008B;
}

.products-background1{
  background-color: lightgrey;
  border-style: solid;
  border-radius: 2.5625rem;
  width: auto;
}

.center-img{
  align-items: center;
  display: flex;
  padding: 0.9375rem;
}

.contain-img{
  align-items: center;;
}

.center-text{
  margin-left: auto;
  margin-right: auto;
}

.contain-img {
  max-width: 70%;
  text-align: center; 
}

.product-heading{
  font-size: 40px;
  padding-top: 2rem;
  font-family: Montserrat , sans-serif;
  font-weight: bolder;
}

.product-text-container{
  width: 10em;
}

.spacing-for-container{
  padding-left: 8rem;
  padding-right: 8rem;
}

.sticky-nav-bar {
  align-items: center;
}

.no-card-height{
  line-height: 1.5em;
  max-height: 9em;
  overflow: auto;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  height: 8rem;
}



/* Media for landing Page */

/* CSS for form*/

.image-overlay-form{
  background: rgba(214, 220, 227, 0.1);
  top: 0;
  left: 0;
  width: calc(100% + 1rem);
  height: calc(100% + 1rem);
  z-index: 1;
  border-radius: 1rem;
  border-width: 10px;
}

.container-contact100 {
  width: 100%;
  min-height:0vh !important;
}

.hash-list > li {
  display: block;
  float: left;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.pad-30, .pad-30-all > * {
  padding: 30px;
}
img {
  border: 0;
}
.mgb-20, .mgb-20-all > * {
  margin-bottom: 20px;
}
.wpx-100, .wpx-100-after:after {
  width: 9rem;
}
.img-round, .img-rel-round {
  border-radius: 50%;
}
.padb-30, .padb-30-all > * {
  padding-bottom: 30px;
}

.mgb-40, .mgb-40-all > * {
  margin-bottom: 40px;
}
.align-center {
  text-align: center;
}
[class*="line-b"] {
  position: relative;
  padding-bottom: 20px;
  border-color: #E6AF2A;
}
.fg-text-d, .fg-hov-text-d:hover, .fg-active-text-d.active {
  color: #222;
}
.font-cond-b {
  font-weight: 700 !important;
}

.review-name { 
  padding-top:1rem;
}

.review-name-medium-size-review { 
  padding-top:2rem;
}
/*end of styling for reviews*/

/* Edit Fields on Forms GENERIC*/

.display-full-height {
  height: 35rem;
  width: 50rem;
  margin: auto;
  padding-top: 4rem;
}

.form-styling-generic p {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 10px; 
}

.form-styling-generic label {
  margin-right: 1rem; 
  color: black;
}

.form-styling-generic input,
.form-styling-generic select,
.form-styling-generic textarea {
  flex: 1;
  width: 100%; 
}

.center-align-buttons {
  display: flex;
  justify-content: center;
}

.center-align-buttons input {
  margin-bottom: 1rem;
}

.center-aligned-button-styling {
  font-weight: 300;
}

/* css for reviews*/

.img-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.align-center {
  text-align: center;
}
.hash-list {
  display: block;
  padding: 0;
  margin: 0 auto;
}

/*client-page css*/
.client-buttons { 
  margin:1rem;

}

.dropdown-menu {
  z-index: 1050; /* Bootstrap's modal z-index is 1050, adjust based on your needs */
}

.client-date-styling{
  font-size:15px;
}

/*
SIGN-UP / LOGIN PAGE
*/
.my-centered-flexbox{
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  align-items: center;
  color:black;
  margin-bottom: 40vh;
  padding-top: 2vh;
}

.my-centered-flexbox-1{
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  align-items: center;
  color:black;
  margin-bottom: 35vh;
  padding-top: 2vh;
}

.sign-up-header-txt{
  padding-top:1rem;
}

/* Footer */

.justify-content-end {
  justify-content: space-evenly !important;
}

.right-padding-adjustment{
  padding-right:0px !important;
}

.my-4 {
  margin-top:0 !important;
  margin-bottom:0 !important;
}

@media (max-width:1130px){
  .landing-img{
    padding-left: 28px;
  }
}

@media (max-width:947px) {

  .my-centered-flexbox {
    margin-bottom: 36vh;
  }
  .lead{
    font-size:18px;
    padding:2rem;
    margin-bottom:-1rem;
  }

  .card-title {
    font-size:25px;
    word-wrap: break-word;
  }

  .wrap-contact100{
    height:auto;
    padding:41px 44px 28px !important;
  }

  .landing-img{
    padding-left: 30px;
  }
}

@media (max-width: 768px){

  .product-services-genepool-logo {
    display: none;
  }
  .nav-masthead {
    justify-content: center;
  }

  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }

  .label-input100 {
    font-size: 1rem;
  }

  .lead{
    font-size:22px;
  }

  .nav-links{
    font-size: 20px;
  }

  .landing-img {
    margin-left: 11px;
  }

  .support-section { 
    font-size:30px;
  }

  .support-section-card-header{
    font-size: 2rem;
  }

  .support-section-card-btn{
    font-size:18px;
    font-weight: 500;
  }

  .hurry-header-text{
    font-size:25px;
  }

  .help-btn{
    font-size:14px;
  }

  .help-btn-hurry-section{
    margin-bottom:0rem;
  }

  .partner-heading{
    font-size: 3rem;
  }

  .font-cond-l{
    font-size: 1rem;
  }

  .review-name{
    padding-top: 1rem;
    font-weight: bold;
    padding-bottom: 1rem;
  }

  .contact-us-img img{
    padding: 2rem !important;
  }

  .columb-flex-stack-objects-1 {
    margin-right: 0; 
  }

  .justify-content-end, .columb-flex-stack-objects-1 {
    justify-content: center; 
    flex-direction: column; 
  }

  .footer-item {
    padding: 10px 0; 
  }

  .container-fluid.genepool-custom-background footer {
    justify-content: space-between !important;
  }

  .partner-img-container{
  height: 5rem;
  width: 5rem !important;
  }

 .create-some-space {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }

  .lead1{
    gap:0px;
  }

  .lead1{
    gap:0px;
  }

  .g-4, .gy-4 {
    --bs-gutter-y:0rem;
  }

  .footer-font-styling{
    font-size:1rem;
  }

  .my-centered-flexbox {
    margin-bottom: 40vh;
  }
}

@media (max-width:623px){
  .flex-column {
    padding-top: 1rem;
  }
  .contact100-form-title {
    font-size: 34px;
    font-weight: 300;
    padding-top:15px;
  }

  .input100::placeholder { 
    font-size: 12px;
  }

  .container-contact100-form-btn {
    padding-top: 17px;
  }

  .contact100-form-btn {
    width: 65%;
    height: 50px;
    border-radius: 25px;
    font-size: 16px;
    width:72%;
  } 

  .wrap-contact100 {
    padding: 0px 43px 15px !important;
  }

  .container-contact100 {
    width: 100%;
    min-height:0vh !important;
  }
}

@media (max-width:555px){
  .carousel-inner {
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
  }

  .label-input100 {
    font-size: 1rem !important;
  }

  .partner-img-container {
    height: 4rem;
    width: 10rem !important;
  }

  .label-input100 {
    font-size: 1rem;
  }

  .partner-img-container{
    border-radius:0%;
  }

  .hurry-header-text {
    font-size: 2rem;
  }

  .help-btn-hurry-section{
    font-size:13px;
  }
  .products-services-text{
    font-size:14px !important;
  }

  .products-and-services-form-title{
    font-size:24px !important;
  }

  .contact100-form {
    flex-direction: column !important;

  }
  .rs1-wrap-input100 {
    width: 100% !important;
  }
  .login-logout-p-text{
    font-size:1rem;
  }
  .my-centered-flexbox h1{
    font-size:2rem;
  }

  .landing-img {
    margin-left: 4px;
  }
}

@media (max-width:482px){

  .nav-links {
    font-size: 18px;
  }
  .contact100-form-title {
    font-size: 30px !important;
  }
  .label-input100 {
    font-size: 1rem !important;
  }

  .partner-img-container {
    width: 8rem !important;
  }
}

@media (max-width:476px){

  .landing-btn {
    font-size: 21px;
  }

  .contact-us-img img {
    padding: 1rem !important;
  }

  .container-fluid .genepool-custom-background {
    height: 18rem;
  }

  .partner-img-container {
    width: 8rem !important;
  }

  .label-input100 {
    font-size: 1rem !important;
  }

  .nav-links {
    font-size: 18px;
  }
}

@media (max-width:440px){

  .nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .lead {
    font-weight: 400;
    padding-top:40px !important;
    padding-bottom:40px !important;
  }
  
  .nb1 {
    font-size: 20px;
  }

  .hurry-header-text {
    font-size: 2rem;
  }

  .partner-img-container {
    width: 8rem !important;
  }

  .container-fluid.genepool-custom-background footer {
    font-size: 10px;
  }

  .staff-url {
    font-size: 13px;
  }

  .products-and-services-form-title{
    font-size:19px;
  }

  .my-centered-flexbox{
    padding-top: 3vh;
  }

  .label-input100 {
    font-size: 1rem !important;
  }
}

@media (max-width:409px){

  .mb-auto {
    margin-bottom: 0px !important;
  }

  .landing-img{
    margin-left:2px;
  }

  .login-logout-p-text{
    font-size:1rem;
  }

  .my-centered-flexbox{
    padding-top: 5vh;
  }

  .my-centered-flexbox {
    margin-bottom: 27vh;
  }

  .sign-up-header-txt{
    font-size:34px !important;
  }

  .already-account-text{
    font-size:14px;
  }

  .landing-btn {
    font-size: 18px;
  }

  .partner-img-container {
    width: 7rem !important;
  }

  .label-input100 {
    font-size: 1rem !important;
  }
}

@media (max-width:367px){

  .partner-img-container {
    width: 6rem !important;
  }

  .lead {
    font-size: 19px;
  }
}

@media (max-width:363px){
  .landing-btn{
    font-size:15px;
  }
  .label-input100{
    font-size:1rem !important;
  }
  .input.input100 {
    height:0px !important;
 }
 .my-centered-flexbox-1{
  font-size:14px !important;
  margin-bottom: 38vh;
 }

 .partner-img-container {
  width: 5rem !important;
  }
} 

@media (max-width:346px){



  .lead {
    font-size: 18px;
    margin-left: -10px;
  }

  .landing-btn {
    font-size: 16px;
  }
  .landing-img {
    margin-left: -9px;
  }

  .footer-font-styling {
    font-size: 13px;
  }

  .staff-url {
    font-size: 13px !important;
  }
  .font-cond-l {
    font-size: 14px;
  }
  .wpx-100 {
    width: 8rem;
  }
}

@media (max-width:330px){
  .landing-img {
    margin-left: 0px;
  }
  .support-section-card-header {
    font-size: 26px;
  }

  .nav {
    font-size: 16px;
  }

  .landing-content {
    margin-left: -5px;
  }

  .lead{
    padding: 28px 18px 28px 20px !important;
    font-size:17px;
    gap: 13px ;
  }

  .support-section {
    font-size: 33px !important;
  }

  .hurry-header-text {
    font-size: 27px !important;
  }

  .contact100-form-title {
    font-size: 39px;
  }

  .container-contact100 {
    width: 100%;
    min-height:0vh !important;
  }

  .wrap-input100 {
    border: 1px solid rgba(13,110,253,.25) !important;
    padding: 0px 0px 7px 5px !important;
    margin-bottom: 20px !important;
  }

  .mb-auto {
    margin-bottom: 1rem !important;
  }
  
  .my-centered-flexbox-1{
    padding-top: 5vh;
  }
}

@media (max-width:325px){
  .landing-img {
    margin-left: -4px;
  }
}