{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genepool</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/cover/">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="https://res.cloudinary.com/drdelhvyt/image/upload/v1697635373/genepool_psxj9n.png">
</head>
<body>
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column landing-page">
        <header class="mb-auto">
            {% block header %}
            {% endblock %}
            {% if user.is_authenticated %}
            <p class="nb1">Hello, <span class="nb1">{{ user.username }}</span></p>
            {% endif %}
        </header>
        <landingpage class="px-3">
            {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert" id="msg">
                {{ message | safe }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            {% block landing-page-exclusive %}
            {% endblock %}
        </landingpage>
    </div>
    
    <main class="flex-shrink-0 main-bg">
        {% block content %}
        {% endblock content %}
    </main>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/e5d47f9c86.js" crossorigin="anonymous"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var navLinks = document.querySelectorAll('.nav-link');
            var currentUrl = window.location.href;
            
            navLinks.forEach(function(link) {
                var linkUrl = link.href;
                
                if (currentUrl === linkUrl) {
                    link.classList.add('active');
                }
            });
        });
        function closeAlert() {
        let messages = document.getElementById("msg");
        if (messages) {
            let alert = new bootstrap.Alert(messages);
            alert.close();
        }
    }
    setTimeout(closeAlert, 4000);
    </script>
    <footer class="d-flex flex-wrap justify-content-center align-items-center py-3 container-fluid genepool-custom-background mb-0">
        <div class="col-md-4 d-flex align-items-center">
            <span class="text-muted white-text">&copy; 2024 Genepool Pty Ltd</span>
        </div>
        <div class="col-md-4 d-flex justify-content-center">
            <div class="column-flex-stack-objects-1 me-4 icon-formatting">
                <a class="text-muted" href="https://www.facebook.com/GenepoolIT/" target="_blank">
                    <i class="fab fa-facebook" style="color:#ffffff"></i>
                </a>
                <a class="text-muted" href="https://wa.me/0823828035" target="_blank">
                    <i class="fab fa-whatsapp" style="color:#ffffff"></i>
                </a>
            </div>
        </div>
        <div class="col-md-4 d-flex justify-content-end">
            <div class="column-flex-stack-objects">
                <a href="{% url 'account_login' %}">
                    <i class="fas fa-sign-in-alt" style="color:#ffffff"></i>
                    <span class="white-text staff-url">Staff Login</span>
                </a>
            </div>
        </div>
    </footer>
</body>
</html>
