{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic Page Needs -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genepool</title>
    <!-- External Links -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- Bootstrap Cover Example CSS (for reference) -->
    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/cover/">
    <!-- Preconnect for faster font loading -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="https://res.cloudinary.com/drdelhvyt/image/upload/v1697635373/genepool_psxj9n.png">
    <!-- Global CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Algolia DocSearch CSS (for enhanced search UI, if used) -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
</head>

<body>
<!-- Main Container -->
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column landing-page">
        <header class="mb-auto">
            <!-- Greeting for authenticated users -->
            {% if user.is_authenticated %}
            <p class="nb1">Hello, <span class="nb1">{{ user.username }} !</span></p>
            {% endif %}
            <!-- Placeholder for additional header content -->
            {% block header %}
            {% endblock %}
        </header>
        <!-- Dynamic Messages Section -->
        <div class="px-3">
            {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert" id="msg">
                {{ message | safe }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            <!-- Placeholder for landing-page-specific content -->
            {% block landing-page-exclusive %}
            {% endblock %}
        </div>
    </div>
     <!-- Main Content Section -->
    <main class="flex-shrink-0 main-bg">
        {% block content %}
        {% endblock content %}
    </main>

    <!-- Footer Section -->
    <footer class="py-3 container-fluid genepool-custom-background mb-0 footer-font-styling" id="footer">
        <div class="row justify-content-between align-items-center">
            <div class="col d-flex align-items-center">
                <!-- Copyright Notice -->
                <span class="text-muted white-text">&copy; 2024 Genepool Pty Ltd</span>
            </div>
            <div class="col d-flex justify-content-center footer-font-styling">
                 <!-- Social Media Links -->
                <a class="text-muted me-2" href="https://www.facebook.com/GenepoolIT/" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-facebook" style="color:#ffffff"></i>
                </a>
                <a class="text-muted" href="https://wa.me/0823828035" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-whatsapp" style="color:#ffffff"></i>
                </a>
            </div>
            <div class="col d-flex justify-content-end footer-font-styling">
                <!-- Staff Login Link -->
                {% if not user.is_authenticated %}
                    <a href="{% url 'account_login' %}">
                        <i class="fas fa-sign-in-alt" style="color:#ffffff"></i>
                        <span class="white-text staff-url">Staff Login</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </footer>

    <!-- JavaScript Libraries and Scripts -->
    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <!-- FontAwesome Kit for Icons -->
    <script src="https://kit.fontawesome.com/e5d47f9c86.js" crossorigin="anonymous"></script>
    <!-- Script to highlight active nav link and auto-close alert messages -->
    <script>
    /**
     * Adds an 'active' class to the navigation link that matches the current URL.
     * This script is executed when the DOM content has fully loaded. It iterates through
     * all elements with the class 'nav-link' and compares the URL of each link with the
     * current page's URL. If a match is found, it adds the 'active' class to highlight
     * that navigation link as active.
     */
            document.addEventListener("DOMContentLoaded", function() {
                var navLinks = document.querySelectorAll('.nav-link');
                var currentUrl = window.location.href;
                
                navLinks.forEach(function(link) {
                    var linkUrl = link.href;
                    
                    if (currentUrl === linkUrl) {
                        link.classList.add('active');
                    }
                });
            });
    /**
     * Closes an alert message after a 4 second time interval.
     * This function targets an element with the ID 'msg' and utilizes Bootstrap's Alert component
     * to programmatically close the alert. If the targeted element exists, the alert will be closed
     */
            function closeAlert() {
            let messages = document.getElementById("msg");
            if (messages) {
                let alert = new bootstrap.Alert(messages);
                alert.close();
            }
        }
        setTimeout(closeAlert, 4000);
    </script>
</body>
</html>