{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genepool</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/cover/">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="https://res.cloudinary.com/drdelhvyt/image/upload/v1697635373/genepool_psxj9n.png">
</head>
<body>
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column landing-page">
        <header class="mb-auto">
            <div>
                <a><img src="https://res.cloudinary.com/drdelhvyt/image/upload/v1697635373/genepool_psxj9n.png" alt="Genepool SnowFlake Image">
                <nav class="nav nav-masthead justify-content-center float-md-end">
                    <a class="nav-link fw-bold py-1 px-0 "aria-label ="" aria-current="page" href="{% url 'home-page' %}">Home</a>
                    <a class="nav-link fw-bold py-1 px-0 " aria-label ="products and services" href="{% url 'products_and_services' %}">Products/Services</a>
                    <a class="nav-link fw-bold py-1 px-0" aria-label ="administration login" href="{% url 'account_login'%}">Admin Login</a>
                </nav>
            </div>
        </header>

        <landingpage class="px-3">
            {% block index-page-exclusive%}
            {% endblock %}
        </landingpage>
    </div>
    
    <main class="flex-shrink-0 main-bg">
        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var navLinks = document.querySelectorAll('.nav-link');
            var currentUrl = window.location.href;

            navLinks.forEach(function(link) {
                var linkUrl = link.href;

                if (currentUrl === linkUrl) {
                    link.classList.add('active');
                }
            });
        });
    </script>
</body>
</html>
