{% extends 'base.html' %}

{% load static %}

{% block header %}

<nav class="nav nav-masthead justify-content-center float-md-end">
    <a class="nav-link fw-bold py-1 px-0 "aria-label ="Home Page" aria-current="page" href="{% url 'home-page' %}">Browse-Logged-In</a>
    <a class="nav-link fw-bold py-1 px-0" aria-label="Logout" href="{% url 'account_logout' %}">Log Out</a>
</nav>

{% endblock %}

{% block index-page-exclusive %}

<div class="container">
  <div class="row">
      <div class="col-md-8 offset-md-2">
        {% block message %}
        {% endblock %}
      </div>
{% endblock %}

{% block content %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/quote-form.css' %}">
{% endblock extra_css %}
</div>
      <div class="container-fluid">
        <div class="row">
            <div class="col center-my-text black-text h2-spacing">
                <h2>QUOTE REQUESTS</h2>
            </div>
          <div class="col-md-6 text-center full-width">
            <p class="d-inline-flex gap-1">
              <button class="btn btn-primary client-buttons" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" id="submitQuoteButton">
                Submit A Quote Request
              </button>
            </p>
            <div class="collapse black-font-color" id="collapseExample">
              <div class="container-contact100 image-overlay-form">
                <div class="wrap-contact100">
                    <form class="contact100-form validate-form" method="POST" id="quote-form">
                        {% csrf_token %}
                        <span class="contact100-form-title">Request A Quote</span>
                        <div class="wrap-input100 validate-input bg1" data-validate="Please Type Your Name">
                            <span class="label-input100">FULL NAME/COMPANY NAME <span class="important">*</span></span>
                            <input class="input100" type="text" name="full_nameORcompany_name" placeholder="Enter Your Name/Company Name">
                        </div>
                        <div class="wrap-input100 validate-input bg1 rs1-wrap-input100" data-validate="Enter Your Email (e@a.x)">
                            <span class="label-input100">Email <span class="important">*</span></span>
                            <input class="input100" type="text" name="email" placeholder="Enter Your Email ">
                        </div>
                        <div class="wrap-input100 bg1 rs1-wrap-input100">
                            <span class="label-input100">Phone</span>
                            <input class="input100" type="text" name="phone" placeholder="Enter Number Phone">
                        </div>
                        <div class="wrap-input100 input100-select bg1">
                            <span class="label-input100">Needed Services <span class="important">*</span></span>
                            <div>
                                <select class="js-select2" name="service">
                                    <option value="support">Support</option>
                                    <option value="hardware">Hardware</option>
                                    <option value="software">Software</option>
                                    <option value="microsoft">Microsoft</option>
                                    <option value="power_solutions">Power Solutions</option>
                                </select>
                            </div>
                        </div>
                        <div class="wrap-input100 validate-input bg0 rs1-alert-validate" data-validate="Please Type Your Message">
                            <span class="label-input100">Message</span>
                            <textarea class="input100" name="request_description" placeholder="Your message here..."></textarea>
                        </div>
                        <div class="container-contact100-form-btn">
                            <button class="contact100-form-btn">
                                <span>Submit <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i></span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container mt-3 client-container-styling">
        <div class="row">
            {% for quote in authorisedclient_quote_requests %}
            <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                <div class="card client-card-styling">
                    <div class="card-header">
                        <h5 class="card-title">{{ quote.full_nameORcompany_name }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Date Created: {{ quote.time_requested }}</h6>
                        <span class="badge {% if quote.status == 'Ongoing' %}bg-success{% else %}bg-secondary{% endif %}">{{ quote.status }}</span>
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{ quote.request_description|truncatechars:100 }}</p>
                        <p class="card-text full-description" style="display: none;">{{ quote.request_description }}</p>
                        <a href="#" class="card-link" onclick="toggleDescription(this); return false;">Read more</a>
                    </div>
                    <div class="card-footer client-card-footer-styling">
                        <a href="{% url 'edit-quote-request' quote.id %}"class="btn btn-primary">View/Edit</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    </div

{% endblock content %}
