{% extends 'base.html' %}

{% load static %}

{% block header %}
<nav-section>
    <div class="nav-container">
        <nav class="nav nav-masthead">
            <a><img src="https://res.cloudinary.com/drdelhvyt/image/upload/v1697631364/logo_ah5wjz.png" alt="Genepool SnowFlake Image" class="genepool-left-corner-img product-services-genepool-logo"></a>
            <div class="nav-links">
                <a class="nav-link fw-bold py-1 px-0" aria-label="Home Page" aria-current="page" href="{% url 'home-page' %}">
                    <i class="fas fa-home"></i> Home
                </a>
                <a class="nav-link fw-bold py-1 px-0" aria-label="Products and Services" href="{% url 'products_and_services' %}">
                    <i class="fas fa-cogs"></i> Products/Services
                </a>
                <a class="nav-link fw-bold py-1 px-0" aria-label="Administration Login" href="{% url 'staff-page' %}">
                    <i class="fas fa-sign-in-alt"></i> Go Back
                </a>
            </div>
        </nav>
    </div>
</nav-section>
{% endblock %}

{% block content %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/edit-ticket.css' %}">
{% endblock extra_css %}

<div class="form-container">
    <h2 class="black-text">Edit Your Ticket</h2>
    <form method="POST" action="{% url 'edit-ticket' ticket_id=ticket_id %}">
        {% csrf_token %}
        <div class="my-own-container">
            <div class="row form-styling-generic">
                <div class="col">
                {{ form.as_p }}
                </div>
            </div>
            <div class="center-align-buttons center-aligned-button-styling">
                <input type="submit" name="save_changes" value="Save Changes" class="btn btn-primary custom-btn">
                <a href="{% url 'staff-page' %}" class="btn btn-secondary custom-btn">Go Back</a>
            </div>
        </div>
    </form>
</div>
{% endblock %}