{% extends 'base.html' %}
{% load static %}

{% block header %}

<div>
    <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link fw-bold py-1 px-0" aria-label="Home Page" aria-current="page" href="{% url 'home-page' %}">Browse-Logged-In</a>
        <a class="nav-link fw-bold py-1 px-0" aria-label="Logout" href="{% url 'account_logout' %}">Log Out</a>
    </nav>
</div>

{% endblock %}

{% block content %}
<form method="POST" action="#">
    {% csrf_token %}
    <div class="my-own-container display-full-height">
        <div class="row form-styling-generic">
            {{ form.as_p }}
        </div>
        <div class="center-align-buttons center-aligned-button-styling">
            <input type="submit" name="save_changes" value="Save Changes" class="btn btn-success">
            <a href="#" class="btn btn-success">Go Back</a>
        </div>
    </div>
</form>
{% endblock %}
