{% extends 'base.html' %}

{% block content %}
<fields-section>

    <div class="container-fluid p-3">
        <div class="row justify-content-center">    
            <div class="col-sm-6">
                <h2 class="bold-text black-font-color center-my-text section-spacing ">HOW CAN WE <strong>SUPPORT YOU?</strong> <img src="https://res.cloudinary.com/drdelhvyt/image/upload/v1697635373/genepool_psxj9n.png" alt="Genepool SnowFlake Logo"></h2>
            </div>        
        </div>
    </div>
    
    <div class="container-fluid p-3 fields-parent-container generic-bakground-color">
        <div class="row rows-cols-sm-2 g-4">
            <div class="col">
                <div class="card h-100 custom-card card">
                    <div class="custom-card-image-overlay"></div>
                    <div class="card-content-wrapper">
                        <h5 class="card-title">SUPPORT</h5>
                        <a href="#" class="btn btn-primary fields-btns">Find Out More</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 custom-card card">
                    <div class="custom-card-image-overlay"></div>
                    <div class="card-content-wrapper">
                        <h5 class="card-title">HARDWARE</h5>
                        <a href="#" class="btn btn-primary fields-btns">Find Out More</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 custom-card card">
                    <div class="custom-card-image-overlay"></div>
                    <div class="card-content-wrapper">
                        <h5 class="card-title">SOFTWARE</h5>
                        <a href="#" class="btn btn-primary fields-btns">Find Out More</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row rows-cols-sm-2 row-cols-md-3 row-cols-lg-3 g-4">
            <div class="col">
                <div class="card h-100 custom-card card">
                    <div class="custom-card-image-overlay"></div>
                    <div class="card-content-wrapper">
                        <h5 class="card-title">NETWORKING</h5>
                        <a href="#" class="btn btn-primary fields-btns">Find Out More</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 custom-card card">
                    <div class="custom-card-image-overlay"></div>
                    <div class="card-content-wrapper">
                        <h5 class="card-title">MICROSOFT</h5>
                        <a href="#" class="btn btn-primary fields-btns">Find Out More</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 custom-card card">
                    <div class="custom-card-image-overlay"></div>
                    <div class="card-content-wrapper">
                        <h5 class="card-title">POWER SOLUTIONS</h5>
                        <a href="#" class="btn btn-primary fields-btns">Find Out More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</fields-ection>

<div class="create-some-space"></div>

<contact-us-section>

    <div class="container-fluid mx-auto">
        <div class="row genepool-custom-background">
            <div class="col d-flex align-items-center justify-content-center">
                <div class="text-center">
                    <h3 class="underline">Need help in a hurry?</h3>
                    <a href="#" class="btn btn-primary fields-btns">+27 82 382 803</a>
                    <p class="my-2">OR</p>
                    <a href="#" class="btn btn-primary fields-btns">support@genepool.co.za</a>
                </div>
            </div>
            <div class="col d-flex align-items-center justify-content-center contact-us-img">
                <img src="https://res.cloudinary.com/drdelhvyt/image/upload/v1697715430/switch-3297900_1280_lqgvsu.jpg" alt="IT-Support-Server-Pic" style="object-fit: cover; width: 100%; height: 100%; padding: 3rem;">
            </div>
        </div>
    </div>    

</contact-us-section>
{% endblock content %}
