{% extends 'base.html' %}

{% load static %}

{% block header %}
<div>
    <a><img src="https://res.cloudinary.com/drdelhvyt/image/upload/v1697635373/genepool_psxj9n.png" alt="Genepool SnowFlake Image">
    <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link fw-bold py-1 px-0 "aria-label ="Home Page" aria-current="page" href="{% url 'home-page' %}">Home</a>
        <a class="nav-link fw-bold py-1 px-0 " aria-label ="products and services" href="{% url 'products_and_services' %}">Products/Services</a>
        <a class="nav-link fw-bold py-1 px-0" aria-label ="administration login" href="{% url 'account_login' %}">Admin Login</a>
    </nav>
</div>
{% endblock%}

{% block landing-page-exclusive %}
    <a><img src="https://res.cloudinary.com/drdelhvyt/image/upload/v1697631364/logo_ah5wjz.png" alt="Genepool Logo"></a>
    <h1 class="lead">Genepool is a leading IT solutions provider headquartered in Johannesburg. Our comprehensive range of services encompasses Networking, Hardware, Software, and specialized load shedding solutions, tailored to meet the unique needs of businesses and organizations</h1>
    <p class="lead lead1">
        <a href="#quote-form" class="btn btn-lg btn-light fw-bold border-white bg-white landing-btn ">Request a Quote</a>
        <a class="btn btn-lg btn-light fw-bold border-white bg-white landing-btn" data-bs-toggle="modal" data-bs-target="#myModal">Get in Contact</a>
    </p>
{% endblock %}

{% block content %}
    <!-- CSS for quotes form -->
    {% block extra_css %}
        <link rel="stylesheet" href="{% static 'css/quote-form.css' %}">
    {% endblock extra_css %}

    <fields-section>
        <div class="container-fluid p-3">
            <div class="row justify-content-center">
                <div class="col-sm-6">
                    <h2 class="bold-text black-font-color center-my-text section-spacing ">HOW CAN WE <strong>SUPPORT YOU?</strong> <img src="https://res.cloudinary.com/drdelhvyt/image/upload/v1697635373/genepool_psxj9n.png" alt="Genepool SnowFlake Logo"></h2>
                </div>
            </div>
        </div>

        <div class="container-fluid p-3 fields-parent-container generic-bakground-color">
            <div class="row rows-cols-sm-2 g-4">
                <div class="col">
                    <div class="card h-100 custom-card card">
                        <div class="custom-card-image-overlay"></div>
                        <div class="card-content-wrapper">
                            <h5 class="card-title">SUPPORT</h5>
                            <a href="#" class="btn btn-primary fields-btns">Find Out More</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100 custom-card card">
                        <div class="custom-card-image-overlay"></div>
                        <div class="card-content-wrapper">
                            <h5 class="card-title">HARDWARE</h5>
                            <a href="#" class="btn btn-primary fields-btns">Find Out More</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100 custom-card card">
                        <div class="custom-card-image-overlay"></div>
                        <div class="card-content-wrapper">
                            <h5 class="card-title">SOFTWARE</h5>
                            <a href="#" class="btn btn-primary fields-btns">Find Out More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row rows-cols-sm-2 row-cols-md-3 row-cols-lg-3 g-4">
                <div class="col">
                    <div class="card h-100 custom-card card">
                        <div class="custom-card-image-overlay"></div>
                        <div class="card-content-wrapper">
                            <h5 class="card-title">NETWORKING</h5>
                            <a href="#" class="btn btn-primary fields-btns">Find Out More</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100 custom-card card">
                        <div class="custom-card-image-overlay"></div>
                        <div class="card-content-wrapper">
                            <h5 class="card-title">MICROSOFT</h5>
                            <a href="#" class="btn btn-primary fields-btns">Find Out More</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100 custom-card card">
                        <div class="custom-card-image-overlay"></div>
                        <div class="card-content-wrapper">
                            <h5 class="card-title">POWER SOLUTIONS</h5>
                            <a href="#" class="btn btn-primary fields-btns">Find Out More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fields-section>

    <div class="create-some-space"></div>

    <contact-us-section>
        <div class="container-fluid mx-auto">
            <div class="row genepool-custom-background">
                <div class="col d-flex align-items-center justify-content-center">
                    <div class="text-center">
                        <h3 class="underline">Need help in a hurry?</h3>
                        <a href="#" class="btn btn-primary fields-btns">+27 082 382 803</a>
                        <a href="#" class="btn btn-primary fields-btns">support@genepool.co.za</a>
                        <a class="text-muted" href="https://wa.me/0823828035" target="_blank"><span class="fa-brands fa-whatsapp"></span></a>
                    </div>
                </div>
                <div class="col d-flex align-items-center justify-content-center contact-us-img">
                    <img src="https://res.cloudinary.com/drdelhvyt/image/upload/v1697715430/switch-3297900_1280_lqgvsu.jpg" alt="IT-Support-Server-Pic" style="object-fit: cover; width: 100%; height: 100%; padding: 3rem;">
                </div>
            </div>
        </div>
    </contact-us-section>

    <div class="create-some-space"></div>

    <partnerships>
        <div class="container-fluid">
            <div class="row">
                <div class="col partner-heading bold-text black-font-color center-my-text section-spacing">Our Partnerships</div>
            </div>
        </div>

        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active " data-bs-interval="3000">
                    <div class="row">
                        <div class="col"><img src="https://res.cloudinary.com/drdelhvyt/image/upload/v1698321554/rectron-logo_tn3klu.png" class="d-block w-100 partner-img-container" alt="Rectron"></div>
                        <div class="col"><img src="https://res.cloudinary.com/drdelhvyt/image/upload/v1698930113/Tarsus_On_Demand_Logo_3_002_ccipsj.png" class="d-block w-100 partner-img-container" alt="Tarsus On Demand"></div>
                        <div class="col"><img src="https://res.cloudinary.com/drdelhvyt/image/upload/v1698930649/DCC_Technologies_Logo_002_mrorld.png" class="d-block w-100 partner-img-container" alt="DCC Technologies"></div>
                        <div class="col"><img src="https://res.cloudinary.com/drdelhvyt/image/upload/v1698931002/Pinnacle_Micro_Pty_Ltd_Pinnacle-Logo-01_cxoixt.png" class="d-block w-100 partner-img-container" alt="Pinnacle Micro"></div>
                    </div>
                </div>
                
                <div class="carousel-item" data-bs-interval="3000">
                    <div class="row">
                        <div class="col"><img src="https://res.cloudinary.com/drdelhvyt/image/upload/v1698931231/service-parts-logistics.png" class="d-block w-100 partner-img-container" alt="service-parts-logistics"></div>
                        <div class="col"><img src="https://res.cloudinary.com/drdelhvyt/image/upload/v1698931953/Axiz_logo-transparent-300x202_bzlnrh.png" class="d-block w-100 partner-img-container" alt="Axiz"></div>
                        <div class="col"><img src="https://res.cloudinary.com/drdelhvyt/image/upload/v1698932082/Axxess_Africa_Logo_ldibir.jpg" class="d-block w-100 partner-img-container" alt="Axxess"></div>
                        <div class="col"><img src="https://res.cloudinary.com/drdelhvyt/image/upload/v1698932334/corex-logo_lh2n73.png" class="d-block w-100 partner-img-container" alt="Corex"></div>
                    </div>
                </div>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden ">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden ">Next</span>
            </button>
        </div>
    </partnerships>

    <quote-form-section id="quote-form-section">
        <div class="container-contact100">
            <div class="wrap-contact100">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 offset-md-2">
                            {% for message in messages %}
                                <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
                                    {{ message | safe }}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <form class="contact100-form validate-form" method="POST" id="quote-form">
                    {% csrf_token %}
                    <span class="contact100-form-title">Request A Quote</span>
                    <div class="wrap-input100 validate-input bg1" data-validate="Please Type Your Name">
                        <span class="label-input100">FULL NAME/COMPANY NAME *</span>
                        <input class="input100" type="text" name="full_nameORcompany_name" placeholder="Enter Your Name/Company Name">
                    </div>
                    <div class="wrap-input100 validate-input bg1 rs1-wrap-input100" data-validate="Enter Your Email (e@a.x)">
                        <span class="label-input100">Email *</span>
                        <input class="input100" type="text" name="email" placeholder="Enter Your Email ">
                    </div>
                    <div class="wrap-input100 bg1 rs1-wrap-input100">
                        <span class="label-input100">Phone</span>
                        <input class="input100" type="text" name="phone" placeholder="Enter Number Phone">
                    </div>
                    <div class="wrap-input100 input100-select bg1">
                        <span class="label-input100">Needed Services *</span>
                        <div>
                            <select class="js-select2" name="service">
                                <option value="support">Support</option>
                                <option value="hardware">Hardware</option>
                                <option value="software">Software</option>
                                <option value="microsoft">Microsoft</option>
                                <option value="power_solutions">Power Solutions</option>
                            </select>
                        </div>
                    </div>
                    <div class="wrap-input100 validate-input bg0 rs1-alert-validate" data-validate="Please Type Your Message">
                        <span class="label-input100">Message</span>
                        <textarea class="input100" name="request_description" placeholder="Your message here..."></textarea>
                    </div>
                    <div class="container-contact100-form-btn">
                        <button class="contact100-form-btn">
                            <span>Submit <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i></span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </quote-form-section>

    <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Contacts</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h3 class="model-heading-custom">Accounts</h3>
                <ul class="fix-padding">
                    <li>accounts@genepool.co.za</li>
                    <li>support@genepool.co.za</li>
                </ul>
                <h3 class="model-heading-custom">Technical Support</h3>
                <ul class="fix-padding">
                    <li>support@genepool.co.za</li>
                    <li>sales@genepool.co.za</li>
                    <li>082 382 8035</li>
                    <a class="text-muted" href="https://wa.me/0823828035" target="_blank"><span class="fa-brands fa-whatsapp"></span></a>
                </ul>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

    <script>
        function scrollToQuoteForm() {
            var formSection = document.getElementById("quote-form-section");
            if (formSection) {
                window.location.href = "#quote-form-section";
            }
        }

        function closeAlert() {
            let messages = document.getElementById("msg");
            if (messages) {
                scrollToQuoteForm();
                let alert = new bootstrap.Alert(messages);
                alert.close();
            }
        }

        setTimeout(closeAlert, 3000);
    </script>
{% endblock content %}


