{% extends 'base.html' %}

{% block content %}
<fieldsection>
    <div class="container-fluid p-3">
        <div class="row justify-content-center  ">    
            <div class="col-sm-6">
                <h2 class="bold-text black-font-color center-my-text section-spacing ">How CAN WE <strong>SUPPORT YOU?</strong> <img src="https://res.cloudinary.com/drdelhvyt/image/upload/v1697635373/genepool_psxj9n.png" alt="Genepool SnowFlake Logo"></h2>
            </div>        
        </div>
    </div>
    
    <div class="container-fluid p-3 fields-parent-container generic-bakground-color">
        <div class="row rows-cols-sm-2 g-4">
            <div class="col">
                <div class="card h-100 custom-card card">
                    <div class="custom-card-image-overlay"></div>
                    <div class="card-content-wrapper">
                        <h5 class="card-title">SUPPORT</h5>
                        <a href="#" class="btn btn-primary fields-btns">Find Out More</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 custom-card card">
                    <div class="custom-card-image-overlay"></div>
                    <div class="card-content-wrapper">
                        <h5 class="card-title">HARDWARE</h5>
                        <a href="#" class="btn btn-primary fields-btns">Find Out More</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 custom-card card">
                    <div class="custom-card-image-overlay"></div>
                    <div class="card-content-wrapper">
                        <h5 class="card-title">SOFTWARE</h5>
                        <a href="#" class="btn btn-primary fields-btns">Find Out More</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row rows-cols-sm-2 row-cols-md-3 row-cols-lg-3 g-4">
            <div class="col">
                <div class="card h-100 custom-card card">
                    <div class="custom-card-image-overlay"></div>
                    <div class="card-content-wrapper">
                        <h5 class="card-title">NETWORKING</h5>
                        <a href="#" class="btn btn-primary fields-btns">Find Out More</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 custom-card card">
                    <div class="custom-card-image-overlay"></div>
                    <div class="card-content-wrapper">
                        <h5 class="card-title">MICROSOFT</h5>
                        <a href="#" class="btn btn-primary fields-btns">Find Out More</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 custom-card card">
                    <div class="custom-card-image-overlay"></div>
                    <div class="card-content-wrapper">
                        <h5 class="card-title">POWER SOLUTIONS</h5>
                        <a href="#" class="btn btn-primary fields-btns">Find Out More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</fieldsection>
{% endblock content %}
