{% extends 'base.html' %}

{% load static %}

{% block header %}
<div>
    <a><img src="https://res.cloudinary.com/drdelhvyt/image/upload/v1697631364/logo_ah5wjz.png" alt="Genepool SnowFlake Image" class="genepool-left-corner-img"></a>
    <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link fw-bold py-1 px-0" aria-label="Home Page" aria-current="page" href="{% url 'home-page' %}">
            <i class="fas fa-home"></i> Home
        </a>
        <a class="nav-link fw-bold py-1 px-0" aria-label="Products and Services" href="{% url 'products_and_services' %}">
            <i class="fas fa-cogs"></i> Products/Services
        </a>
        <a class="nav-link fw-bold py-1 px-0" aria-label="Administration Login" href="{% url 'account_login' %}">
            <i class="fas fa-sign-in-alt"></i> Log a Ticket
        </a>
    </nav>
</div>

{% endblock %}

{% block content %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/products-services.css' %}">
{% endblock extra_css %}
<div class="create-some-space"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card h-100">
                            <div class="card-body">
                                <h4 class="card-title" id="support">SUPPORT</h4>
                                <p class="card-text">At Genepool, our dedicated and highly skilled support team is committed to providing professional and efficient IT support tailored to your needs. With a proactive approach, we anticipate and address potential challenges before they impact your operations, ensuring a secure and seamless IT environment for your business. Trust Genepool to be your strategic IT partner, delivering excellence in every aspect of technical support.</p>
                                <a class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#myModal">Get in Contact</a>
                                <a href="#" class="btn btn-outline-primary">Request a call back</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="card h-100">
                            <div class="card-body">
                                <h4 class="card-title text-start">Services</h4>
                                <p class="card-text">
                                    <ul>
                                        <li>Network Support</li>
                                        <li>Printing Issues</li>
                                        <li>Hardware and Software Sales</li>
                                        <li>General IT related Issues</li>
                                    </ul>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="create-some-space"> <hr></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card h-100">
                            <div class="card-body">
                                <h4 class="card-title" id="support">SUPPORT</h4>
                                <p class="card-text">At Genepool, our dedicated and highly skilled support team is committed to providing professional and efficient IT support tailored to your needs. With a proactive approach, we anticipate and address potential challenges before they impact your operations, ensuring a secure and seamless IT environment for your business. Trust Genepool to be your strategic IT partner, delivering excellence in every aspect of technical support.</p>
                                <a class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#myModal">Get in Contact</a>
                                <a href="#" class="btn btn-outline-primary">Request a call back</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="card h-100">
                            <div class="card-body">
                                <h4 class="card-title text-start">Services</h4>
                                <p class="card-text">
                                    <ul>
                                        <li>Network Support</li>
                                        <li>Printing Issues</li>
                                        <li>Hardware and Software Sales</li>
                                    </ul>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




            <contact-form-model>
                <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                    
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Contacts</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h3 class="model-heading-custom">Accounts</h3>
                            <ul class="fix-padding">
                                <li>accounts@genepool.co.za</li>
                                <li>support@genepool.co.za</li>
                            </ul>
                            <h3 class="model-heading-custom">Technical Support</h3>
                            <ul class="fix-padding">
                                <li>support@genepool.co.za</li>
                                <li>sales@genepool.co.za</li>
                                <li>082 382 8035</li>
                                <a class="text-muted" href="https://wa.me/0823828035" target="_blank"><span class="fa-brands fa-whatsapp"></span></a>
                            </ul>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                    </div>
                </div>
            </contact-form-model>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        document.getElementById('collapseExample').classList.add('collapse');
    });
</script>

{% endblock content %}
