{% extends 'base.html' %}

{% block header %}
<!-- Start of Header/Nav Section-->
<nav-section>
  <div class="nav-container">
      <nav class="nav nav-masthead">
          <a><img src="https://res.cloudinary.com/drdelhvyt/image/upload/v1697631364/logo_ah5wjz.png" alt="Genepool SnowFlake Image" class="genepool-left-corner-img product-services-genepool-logo"></a>
          <div class="nav-links">
              <a class="nav-link fw-bold py-1 px-0" aria-label="Home Page" aria-current="page" href="{% url 'home-page' %}">
                  <i class="fas fa-home"></i> Home
              </a>
              <a class="nav-link fw-bold py-1 px-0" aria-label="Products and Services" href="{% url 'products_and_services' %}">
                  <i class="fas fa-cogs"></i> Products/Services
              </a>
              <a class="nav-link fw-bold py-1 px-0" aria-label="Administration Login" href="{% url 'account_logout' %}">
                  <i class="fas fa-sign-in-alt"></i> Log Out
              </a>
          </div>
      </nav>
  </div>
</nav-section>
<!-- End of Header/Nav Section-->
{% endblock %}

{% block index-page-exclusive %}

<div class="container">
  <div class="row">
      <div class="col-md-8 offset-md-2">
        {%block message%}
        {% endblock %}
      </div>
  </div>
</div>

{% endblock%}

{% block content %}

<div class="container-fluid ">
  <!-- Start of Unanswered Tickets Header -->
  <div class="row">
      <div class="col center-my-text black-text h2-spacing">
          <h2>Unanswered Tickets</h2>
          <hr class="custom-br">
      </div>
  </div>

  <!-- Start of Container housing the Unanswered Ticket objects -->
  <div class="container-fluid mt-3 client-container-styling">
      <div class="row">
          <!-- Start of Ticket objects for status of "Unanswered" -->
          {% for ticket in staff_unanswered_client_ticket_request %}
              <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                  <div class="card client-card-styling">
                      <div class="card-header">
                          <h5 class="card-title">{{ ticket.full_nameORcompany_name }}</h5>
                          <h6 class="card-subtitle mb-2 text-muted client-date-styling">Date Created: {{ ticket.time_requested }}</h6>
                          <h6 class="card-subtitle mb-2 text-muted client-date-styling">User Created: {{ ticket.user}}</h6>
                          <span class="badge bg-success">Status: {{ ticket.status }} </span> 
                      </div>
                      <div class="card-body">
                          <p class="card-text">
                              <span class="short-description">{{ ticket.request_description|truncatechars:50 }}</span>
                              <span class="full-description" style="display: none;">{{ ticket.request_description }}</span>
                          </p>
                          <a href="#" class="card-link toggle-text">Read more</a>
                      </div>
                      <div class="card-footer client-card-footer-styling client-custom-footer">
                          <a href="{% url 'view-ticket' ticket.id %}" class="btn btn-success">View</a>
                          <a href="{% url 'edit-ticket' ticket.id %}" class="btn btn-success">Edit</a>
                      </div>
                  </div>
              </div>
          {% endfor %}
          <!-- End of Ticket objects for status of "Unanswered" -->
      </div>
  </div>
  <!-- End of Container housing the Unanswered Ticket objects -->
</div>

<!-- Start of Answered Tickets Section -->
<div class="container-fluid">
  <!-- Start of Answered Tickets Header -->
  <div class="row">
      <div class="col center-my-text black-text h2-spacing">
          <h2>Answered Tickets</h2>
          <hr class="custom-br">
      </div>
  </div>
  <!-- Check if there are any answered tickets -->
  {% if staff_answered_client_ticket_request %}
    <!-- Answered Tickets Cards -->
    <div class="row">
        {% for ticket in staff_answered_client_ticket_request %}
            <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                <div class="card client-card-styling">
                    <div class="card-header">
                        <h5 class="card-title">{{ ticket.full_nameORcompany_name }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted client-date-styling">Date Created: {{ ticket.time_requested }}</h6>
                        <h6 class="card-subtitle mb-2 text-muted client-date-styling">User Created: {{ ticket.id}}</h6>
                        <span class="badge bg-primary">Status: {{ ticket.status }} </span>
                        <form method="POST" action="{% url 'close-client-ticket' ticket.id %}">
                            {% csrf_token %}
                            <button type="submit" class="right-align close-ticket-styling">Close Ticket?</button>
                        </form>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            <span class="short-description">{{ ticket.request_description|truncatechars:50 }}</span>
                            <span class="full-description" style="display: none;">{{ ticket.request_description }}</span>
                        </p>
                        <a href="#" class="card-link toggle-text">Read more</a>
                    </div>
                    <div class="card-footer client-card-footer-styling client-custom-footer">
                        <a href="{% url 'view-ticket' ticket.id %}" class="btn btn-primary">View/Reply</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
  {% else %}
    <!-- Display when no answered tickets are available -->
    <div class="row">
        <div class="col">
            <p class="center-my-text black-text">No Tickets To Show</p>
        </div>
    </div>
  {% endif %}
</div>
<!-- End of Answered Tickets Section -->

<div class="container d-flex justify-content-center">
  <!-- Start of Closed Ticket Heading -->
<button class="closed-quotes-custom-btn" id="toggleClosedTickets">Show Closed Tickets</button>
</div>
<!-- End of Closed Ticket Heading -->

<!-- Start of closed ticket container -->
<div class="container-fluid client-container-styling">
    <div class="row">
        <div id="closedTicketsSection" style="display: none;">
            <!-- Check if there are any closed tickets -->
            {% if staff_closed_client_ticket_request %}
                <!-- Start of tickets with the status of "Closed" -->
                {% for ticket in staff_closed_client_ticket_request %}
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                        <div class="card client-card-styling">
                            <div class="card-header">
                                <h5 class="card-title">{{ ticket.full_nameORcompany_name }}</h5>
                                <h6 class="card-subtitle mb-2 text-muted client-date-styling">Date Created: {{ ticket.time_requested }}</h6>
                                <h6 class="card-subtitle mb-2 text-muted client-date-styling">Closed By: {{ ticket.get_service_display }}</h6>
                                <h6 class="card-subtitle mb-2 text-muted client-date-styling">User Created: {{ ticket.id}}</h6>
                                <span class="badge bg-danger">Status: {{ ticket.status }}</span>
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    <span class="short-description">{{ ticket.request_description|truncatechars:50 }}</span>
                                    <span class="full-description" style="display: none;">{{ ticket.request_description }}</span>
                                </p>
                                <a href="#" class="card-link toggle-text">Read more</a>
                            </div>
                            <div class="card-footer client-card-footer-styling client-custom-footer">
                                <form class="contact100-form validate-form" method="POST" action="{% url 're-open-ticket' ticket.id %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-primary">Re-open ?</button>
                                </form>
                                <button type="button" class="btn btn-danger delete-ticket-btn" data-ticket-id="{{ ticket.id }}" data-ticket-title="{{ ticket.full_nameORcompany_name }}">Delete</button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <!-- Display when no closed tickets are available -->
                <div class="col">
                    <p class="center-my-text black-text">No Closed Tickets To Show</p>
                </div>
            {% endif %}
            <!-- End of tickets with the status of "Closed" -->
        </div>
    </div> 
</div>
<!-- End of closed ticket container -->


<div class="container-fluid ">
  <!-- Start of Unanswered Tickets Header -->
  <div class="row">
      <div class="col center-my-text black-text h2-spacing">
          <h2>Unauthorised Quote Requests</h2>
          <hr class="custom-br">
      </div>
  </div>

  <div class="container-fluid mt-3 client-container-styling">
    <div class="row">
        <!-- Check if there are any ongoing unauthorised quote requests -->
        {% if staff_unauthorised_quote_requests_ongoing %}
            {% for requests in staff_unauthorised_quote_requests_ongoing %}
                <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                    <div class="card client-card-styling">
                        <div class="card-header">
                            <h5 class="card-title">{{ requests.full_nameORcompany_name }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted client-date-styling">Date Created: {{ requests.time_requested }}</h6>
                            <h6 class="card-subtitle mb-2 text-muted client-date-styling">User Created: {{ requests.user}}</h6>
                            <span class="badge bg-success">Status: {{ requests.status }} </span>
                            <form method="POST" action="{% url 'close-quote-object' requests.id %}">
                                {% csrf_token %}
                                <button type="submit" class="right-align close-ticket-styling">Close Object?</button>
                            </form>
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                <span class="short-description">{{ requests.request_description|truncatechars:50 }}</span>
                                <span class="full-description" style="display: none;">{{ requests.request_description }}</span>
                            </p>
                            <a href="#" class="card-link toggle-text">Read more</a>
                        </div>
                        <div class="card-footer client-card-footer-styling client-custom-footer">
                            <a href="{% url 'edit-quote-request' requests.id %}" class="btn btn-success">View</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <!-- Display when no ongoing unauthorised quote requests are available -->
            <div class="col">
                <p class="center-my-text black-text">No Ongoing Unauthorised Quote Requests To Show</p>
            </div>
        {% endif %}
    </div>
</div>
<!-- End of Container housing the Unanswered Ticket objects -->

<div class="container-fluid ">
  <!-- Start of Unanswered Tickets Header -->
  <div class="row">
      <div class="col center-my-text black-text h2-spacing">
          <h2>Unauthorised CallBack Requests</h2>
          <hr class="custom-br">
      </div>
  </div>

  <!-- Start of Container housing the Unanswered Ticket objects -->
  <div class="container-fluid mt-3 client-container-styling">
    <div class="row">
        <!-- Start of Ticket objects for status of "Unanswered" -->
        <!-- Check if there are any ongoing unauthorised callback requests -->
        {% if staff_unauthorised_callback_requests_ongoing %}
            {% for requests in staff_unauthorised_callback_requests_ongoing %}
                <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                    <div class="card client-card-styling">
                        <div class="card-header">
                            <h5 class="card-title">{{ requests.full_nameORcompany_name }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted client-date-styling">Date Created: {{ requests.time_requested }}</h6>
                            <h6 class="card-subtitle mb-2 text-muted client-date-styling">User Created: {{ requests.user}}</h6>
                            <span class="badge bg-success">Status: {{ requests.status }} </span>
                            <form method="POST" action="{% url 'close-callback-object' requests.id %}">
                                {% csrf_token %}
                                <button type="submit" class="right-align close-ticket-styling">Close Object?</button>
                            </form>
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                <span class="short-description">{{ requests.request_description|truncatechars:50 }}</span>
                                <span class="full-description" style="display: none;">{{ requests.request_description }}</span>
                            </p>
                            <a href="#" class="card-link toggle-text">Read more</a>
                        </div>
                        <div class="card-footer client-card-footer-styling client-custom-footer">
                            <a href="{% url 'edit-callback-request' requests.id %}" class="btn btn-success">View</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="col">
                <p class="center-my-text black-text">No Ongoing Unauthorised Callback Requests To Show</p>
            </div>
        {% endif %}
        <!-- End of Ticket objects for status of "Unanswered" -->
    </div>
</div>
<!-- End of Container housing the Unanswered Ticket objects -->
</div>

<div class="container d-flex justify-content-center">
  <!-- Start of Closed Ticket Heading -->
<button class="closed-quotes-custom-btn" id="toggleClosedObjects">Show Closed Unauthorised Objects</button>
</div>
<!-- End of Closed Ticket Heading -->

<div class="container-fluid client-container-styling">
    <div class="row">
        <div id="closedObjectsSection">
            {% if staff_unauthorised_quote_requests_completed or staff_unauthorised_callback_requests_completed %}
                {% for ticket in staff_unauthorised_quote_requests_completed %}
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                        <div class="card client-card-styling">
                            <div class="card-header">
                                <h5 class="card-title">{{ ticket.full_nameORcompany_name }}</h5>
                                <h6 class="card-subtitle mb-2 text-muted client-date-styling">Date Created: {{ ticket.time_requested }}</h6>
                                <h6 class="card-subtitle mb-2 text-muted client-date-styling">Closed By: {{ ticket.get_service_display }}</h6>
                                <h6 class="card-subtitle mb-2 text-muted client-date-styling">User Created: {{ ticket.id }}</h6>
                                <span class="badge bg-danger">Status: {{ ticket.status }}</span>
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    <span class="short-description">{{ ticket.request_description|truncatechars:50 }}</span>
                                    <span class="full-description" style="display: none;">{{ ticket.request_description }}</span>
                                </p>
                                <a href="#" class="card-link toggle-text">Read more</a>
                            </div>
                            <div class="card-footer client-card-footer-styling client-custom-footer">
                                <form method="POST" action="{% url 're-open-quote-request' ticket.id %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-primary">Re-open?</button>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <!-- Iterate over callback requests -->
                {% for ticket in staff_unauthorised_callback_requests_completed %}
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                        <div class="card client-card-styling">
                            <div class="card-header">
                                <h5 class="card-title">{{ ticket.full_nameORcompany_name }}</h5>
                                <h6 class="card-subtitle mb-2 text-muted client-date-styling">Date Created: {{ ticket.time_requested }}</h6>
                                <h6 class="card-subtitle mb-2 text-muted client-date-styling">Closed By: {{ ticket.get_service_display }}</h6>
                                <h6 class="card-subtitle mb-2 text-muted client-date-styling">User Created: {{ ticket.id }}</h6>
                                <span class="badge bg-danger">Status: {{ ticket.status }}</span>
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    <span class="short-description">{{ ticket.request_description|truncatechars:50 }}</span>
                                    <span class="full-description" style="display: none;">{{ ticket.request_description }}</span>
                                </p>
                                <a href="#" class="card-link toggle-text">Read more</a>
                            </div>
                            <div class="card-footer client-card-footer-styling client-custom-footer">
                                <form method="POST" action="{% url 're-open-callback' ticket.id %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-primary">Re-open?</button>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <!-- Display when there are no completed objects to show -->
                <div class="col">
                    <p class="text-center black-text">No Completed Objects To Show</p>
                </div>
            {% endif %}
        </div>
    </div> 
</div>

<!-- Bootstrap Modal for Delete Confirmation -->
<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">Confirm Deletion</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this ticket?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <form id="deleteForm" method="POST" action="#">
          {% csrf_token %}
          <!-- Hidden input to hold the ticket ID -->
          <input type="hidden" name="ticket_id" id="ticketIdInput">
          <button type="submit" class="btn btn-danger" id="confirmDeleteButton">Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script>

  /**
   * Toggles the visibility of the 'closedTicketsSection' and updates the button text.
   *
   * This function adds a click event listener to the 'toggleClosedTicketsBtn' that:
   * - Toggles the display style of 'closedTicketsSection' between "flex" and "none".
   * - Updates the button's text to "Hide Closed Quotes" or "Show Closed Quotes" accordingly.
   */
  
   document.addEventListener("DOMContentLoaded", function() {
    // Toggling closed tickets section
    const toggleClosedTicketsBtn = document.getElementById('toggleClosedTickets');
    const closedTicketsSection = document.getElementById('closedTicketsSection');
    
    if(toggleClosedTicketsBtn && closedTicketsSection) {
        toggleClosedTicketsBtn.addEventListener('click', function() {
            const isHidden = closedTicketsSection.style.display === "none" || closedTicketsSection.style.display === "";
            closedTicketsSection.style.display = isHidden ? "flex" : "none";
            toggleClosedTicketsBtn.textContent = isHidden ? "Hide Closed Tickets" : "Show Closed Tickets";
        });
    }

    // Handling delete ticket button clicks
    document.querySelectorAll('.delete-ticket-btn').forEach(function(button) {
        button.addEventListener('click', function() {
            const ticketId = this.getAttribute('data-ticket-id');
            const ticketTitle = this.getAttribute('data-ticket-full_nameORcompany_name'); // Using ticketTitle for consistency

            // Update the form's action to include the ticket ID
            const actionUrl = `/delete-ticket/${ticketId}/`; // Ensure this URL pattern matches your Django URL
            document.getElementById('deleteForm').setAttribute('action', actionUrl);

            // Update the modal's body text with the ticket's title
            document.querySelector('#deleteConfirmationModal .modal-body').innerHTML = 
                `Are you sure you want to delete the ticket titled "${ticketTitle}"?`;

            // Show the confirmation modal
            var deleteModal = new bootstrap.Modal(document.getElementById('deleteConfirmationModal'));
            deleteModal.show();
        });
    });

    // Toggling between the shortened text and long text
    var toggleTextLinks = document.querySelectorAll('.toggle-text');

    toggleTextLinks.forEach(function(link) {
        link.addEventListener('click', function(event) {
            // Prevent the default link action
            event.preventDefault();

            // Get the parent .card-body of the clicked link
            var cardBody = this.closest('.card-body');

            // Toggle visibility of the descriptions inside this .card-body
            var shortDesc = cardBody.querySelector('.short-description');
            var fullDesc = cardBody.querySelector('.full-description');

            if (shortDesc.style.display === 'none') {
                shortDesc.style.display = '';
                fullDesc.style.display = 'none';
                this.textContent = 'Read more';
            } else {
                shortDesc.style.display = 'none';
                fullDesc.style.display = '';
                this.textContent = 'Read less';
            }
        });
    });

    // Toggling closed unauthorised objects section
    const toggleClosedObjectsBtn = document.getElementById('toggleClosedObjects');
    const closedObjectsSection = document.getElementById('closedObjectsSection');

    if(toggleClosedObjectsBtn && closedObjectsSection) {
        toggleClosedObjectsBtn.addEventListener('click', function() {
            // Check if the section is currently hidden or not. Consider both "none" and an empty string as hidden.
            const isHidden = closedObjectsSection.style.display === "none" || closedObjectsSection.style.display === "";
            closedObjectsSection.style.display = isHidden ? "flex" : "none"; // Toggle display style between "none" and "flex".
            closedObjectsSection.style.flexWrap = "wrap";
            // Update button text based on the section's visibility
            toggleClosedObjectsBtn.textContent = isHidden ? "Hide Closed Unauthorised Objects" : "Show Closed Unauthorised Objects";
        });
    }
});

</script>
{% endblock content %}