{% extends 'base.html' %}

{% block header %}
<div>
    <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link fw-bold py-1 px-0 "aria-label ="Home Page" aria-current="page" href="{% url 'home-page' %}">Log Out</a>
    </nav>
</div>
{% endblock %}

{% block index-page-exclusive %}

{% if user.is_authenticated %}

<div class="container">
  <div class="row">
      <div class="col-md-8 offset-md-2">
          {% for message in messages %}
              <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
                  {{ message | safe }}{{user.username}}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
          {% endfor %}
      </div>
  </div>
</div>

{% endif %}

{% endblock%}

{% block content %}

<div class="create-some-space"></div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 text-center full-width">
      <p class="d-inline-flex gap-1">
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          Quote Requests
        </button>
      </p>
      <div class="collapse black-font-color" id="collapseExample">
        <div class="container-fluid">
          <div class="row">
            {% for quote in quote_requests %}
            <div class="col-md-4 col-sm-6"> 
              <div class="card">
                <div class="card-header">
                  <h3>{{ quote.full_nameORcompany_name }}</h3>
                </div>
                <div class="card-body">
                  <p>{{ quote.request_description }}</p>
                </div>
                <div class="card-footer">
                  <a href="{% url 'edit-quote-request' quote.id %}" class="card-link">Edit</a>
                  <a href="#" class="card-link">Delete</a>
                </div>
              </div>
            </div>
            {% endfor %}            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<edit-quote-request-model>
  <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="editQuoteModel" aria-hidden="true">
      <div class="modal-dialog">
      <div class="modal-content">
      
          <div class="modal-header">
          <h5 class="modal-title" id="editQuoteModel">Edit Clients Request Status</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form id="edit-form" method="POST" action="{% url 'staff-page' %}">
              {% csrf_token %}
              {{ form.as_p }}
              <input type="submit" class="btn btn-primary" value="Save Changes">
            </form>
          </div>
          <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
      </div>
      </div>
  </div>
</edit-quote-request-model>

<script>

  function closeAlert() {
    let messages = document.getElementById("msg");
    let alert = new bootstrap.Alert(messages);
    alert.close();
  }
  setTimeout(closeAlert, 3000);
</script>

{% endblock content %}
